<%= turbo_frame_tag "friend-result" do %>
  <% if @friends %>
    <div class="card card-header d-inline-block my-3">
      <table class="col-md-12 col-sm-6">
        <tbody>
          <% @friends.each do |friend| %>
            <tr>
              <td>
                <strong>Name: </strong>
                <%= friend.full_name %></td>
              <td>
                <strong>Email: </strong>
                <%= friend.email %></td>
              <td>
                <%= link_to "Profile", "#", class: "btn btn-sm btn-success" %>
                <% if current_user.not_friends_with?(friend.id) %>
                  <%= link_to 'Follow', friendships_path(friend: friend), data: { turbo_method: :post, action: "click->reload-page#reload", controller: "reload-page" }, class: "btn btn-sm btn-success" %>

                <% else %>
                  <span class="badge bg-secondary">You are already friends.</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
