<h1>My Portfolio</h1>
<div id="stock-search-results" class="mt-3">
  <h3>Search Stocks</h3>
  <%= turbo_frame_tag "search-form" do %>
    <%= render "users/search_form" %>
  <% end %>
  <%= turbo_frame_tag "posts" do %>
  <% end %>
  <%= turbo_frame_tag "stocks-list" do %>
    <% if !@tracked_stocks.empty? %>
      <%= render "stocks/list" %>
    <% end %>
  <% end %>
</div>